/*
-------------------
contact-form-sec-wrp
-------------------
*/
.contact-form-sec-wrp{
	padding-top: 70px;
}
.contact-form-lft {
    width: 31%;
    float: left;
    position: relative;
    z-index: 1;
}
.contact-form-info{
	background: #F9F9F9;
	padding: 40px 35px;
	margin-bottom: 30px;
}
.contact-form-info span{
	display:block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 18px;
	color: #7B7B7B;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 40px;
}
.contact-form-info span strong,
.contact-form-info span a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: inherit;
	font-weight: 400;
}
.contact-form-info span a:hover{
	color: #16b616;
}
.contact-socail{
	margin-top: -10px;
}
.contact-socail a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	padding-right: 20px;
}
.contact-map-location {
    background: #15B615;
    padding: 30px 35px 32px 120px;
    position: relative;
    margin-bottom: 30px;
}
.contact-map-location i {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
    padding-top: 12px;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.contact-map-location h6{
	margin: 0;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}
.contact-map-location span {
    display: inline-block;
    vertical-align: baseline;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.contact-map-location a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
	color: #fff;
	padding-right: 22px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.contact-map-location a:hover{
	color: #0c740c;
}
.contact-map-location a:hover:after{
	right: -5px;
	background: url(../images/map-arrows-hover.svg);
}
.contact-map-location a:after{
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 15px;
	height: 11px;
	background: url(../images/map-arrows.svg);
	background-repeat: no-repeat;
	background-size: 15px 11px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.contact-lft-img img{
	width: 100%;
}
.contact-form-rgt{
	float: left;
	width: 69%;
	padding-left: 65px;
}
.contact-form-dsc{
	border-bottom: 1px solid #F1F1F1;
	padding-bottom: 5px;
	margin-bottom: 25px;
}
.contact-form-dsc h1{
	margin: 0;
	font-weight: 900;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #282828;
	font-family: 'Roboto', sans-serif;
	line-height: 42px;
	margin-bottom: 25px;
}
.contact-form-dsc p{
	font-size: 18px;
	line-height: 27px;
	font-weight: 400;
	color: #656565;
}
.contact-form-dsc p a{
	color: #16b616;
}

/*
---------------------
 Contact Form
---------------------
*/
.contact-form-wrp .wpforms-field-container .wpforms-field{
	width: 50%;
	float: left;
	padding: 0 12px;
	margin-bottom: 25px;
}
.contact-form-wrp .wpforms-field-container{
	margin: 0 -12px;
}
.contact-form-wrp .wpforms-field-container .wpforms-field label{
	display: inline-block;
	vertical-align: baseline;
	width: 100%;
	margin: 0;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #282828;
	margin-bottom: 12px;
}
.contact-form-wrp .wpforms-field-container .wpforms-field input{
	width: 100%;
	height: 56px;
	background: #FFFFFF;
	border: 1px solid #EBEBEB;
	box-sizing: border-box;
	padding: 22px 14px;
	color: #7B7B7B;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.contact-form-wrp .wpforms-field-container .yourCustomStraat{
	width: 74%;
}
.contact-form-wrp .wpforms-field-container .yourCustomNr{
	width: 26%;
}
.contact-form-wrp .wpforms-field-container .wpforms-field-textarea{
	width: 100%;
}
.contact-form-wrp .wpforms-field-container .wpforms-field-textarea textarea{
	width: 100%;
	height: 169px;
	background: #FFFFFF;
	border: 1px solid #EBEBEB;
	box-sizing: border-box;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #7B7B7B;
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	padding: 22px 14px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.contact-form-wrp .wpforms-field-container .wpforms-field-select{
	width: 100%;
}
.contact-form-wrp .wpforms-field-select select {
	background: url(../images/select-angle-icon.svg)!important;
	background-size: 9px 16px;
	background-repeat: no-repeat !important;
	background-position: 98.5% center !important;
}
.contact-form-wrp .wpforms-field-select select{
	outline: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	padding-right: 40px;
	width: 100% !important;
	max-width: 100% !important;
	height: 56px !important;
	border: 1px solid #EBEBEB;
	padding: 20px 20px;
	font-size: 12px !important;
	line-height: 14px;
	color: #7B7B7B !important;
	font-weight: 400 !important;
	position: relative;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	text-transform: uppercase;
}
.contact-form-wrp .wpforms-field-select select option{
	font-size: 14px !important;
	line-height: 22px !important;
	display: inline-block !important;
	vertical-align: baseline !important;
}

.contact-form-wrp .wpforms-field-container .wpforms-field-html{
	width: 100%;
}
.contact-form-wrp .wpforms-field-container .wpforms-field-html p{
	margin: 0;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #656565;
}
.gw-form-wrp .wpforms-field-container .wpforms-field-html{
	padding-top: 12px;
}
.contact-form-wrp .wpforms-field-container .wpforms-field-html p a{
	color: inherit;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
}
.contact-form-wrp .wpforms-field-container .wpforms-field-html p a:hover{
	color: #16b616;
}
.contact-form-wrp .wpforms-field-container .wpforms-field-textarea textarea:focus,
.contact-form-wrp .wpforms-field-container .wpforms-field input:focus{
	border-color: #16b616;
}
.contact-form-wrp .wpforms-submit-container button{
	max-width: 232px;
	width: 100%;
	height: 56px;
	border: 2px solid #15B615;
	box-sizing: border-box;
	border-radius: 50px;
	background: transparent;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #15B615;
	font-weight: 700;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	margin-top: 5px;
}
.contact-form-wrp .wpforms-submit-container button:hover{
	background: #15B615;
	color: #fff;
}
#googlemap{
	height: 565px;
	margin-top: -185px;
}