/*
*/
.gw-dsc-box{
	background: #16b616;
	min-height: 135px;
	position: relative;
	margin-bottom: 20px;
}
.gw-dsc-box i{
	width: 60px;
	height: 60px;
	background: #fff;
	display: inline-block;
	vertical-align: baseline;
	border-radius: 50%;
	text-align: center;
	padding-top: 15px;
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.gw-dsc-box p{
	margin: 0;
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;
	color: #fff;
	position: absolute;
	left: 115px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%); 
	padding-right: 50px;
}
.progrees-bar-wrp{
	background: #f9f9f9;
	margin-bottom: 24px;
	position: relative;
}
.progrees-bar-wrp .progressbar-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #282828 !important;
}
#container5{
    width: 155px;
    height: 155px;
    position: relative;
    margin: 0 auto 20px;
}
