/*
----------------------
gw-form-sec-wrp
----------------------
*/
.gw-form-sec-wrp{
	padding-top: 70px;
	padding-bottom: 65px;
	border-bottom: 6px solid #F2F2F2;
}
.gw-dsc-box{
	background: #16b616;
	min-height: 135px;
	position: relative;
	margin-bottom: 20px;
}
.gw-dsc-box i{
	width: 60px;
	height: 60px;
	background: #fff;
	display: inline-block;
	vertical-align: baseline;
	border-radius: 50%;
	text-align: center;
	padding-top: 15px;
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.gw-dsc-box p{
	margin: 0;
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;
	color: #fff;
	position: absolute;
	left: 115px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%); 
	padding-right: 50px;
}
.progrees-bar-wrp{
	background: #f9f9f9;
	margin-bottom: 24px;
	position: relative;
	padding: 60px 20px 55px;
	text-align: center;
}
.progrees-bar-wrp .progressbar-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #282828 !important;
}
#container5{
    width: 155px;
    height: 155px;
    position: relative;
    margin: 0 auto 20px;
}
.progrees-bar-wrp span {
    display: inline-block;
    vertical-align: baseline;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #282828;
    text-align: center;
}

/*
--------------------
 Responsive Css
--------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){
	.gw-dsc-box p{
		padding-right: 20px;
	}
}

@media(max-width: 1199px){	
	.gw-dsc-box i {
	    width: 50px;
	    height: 50px;
	    text-align: center;
	    padding-top: 10px;
	    left: 15px;
	}
	.gw-dsc-box p br{
		display: none;
	}
	.gw-dsc-box p {
	    padding-right: 15px;
	    left: 80px;
	    font-size: 17px;
	    line-height: 19px;
	}
}

@media(max-width: 991px){
	.gw-dsc-box p {
	    padding-right: 10px;
	    left: 75px;
	    font-size: 16px;
	    line-height: 18px;
	}
	
}

@media(max-width: 767px){
	
}

@media(max-width: 575px){
	

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}
