#prmap,
#prmap2{
	height: 640px;
	width: 100%!important;
}


body #prmap .gm-style .gm-style-iw-c {
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #15B615;
}
.gm-style .gm-style-iw-c {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    top: 0;
    left: 0;
    transform: translate(-50%,-100%);
    background-color: white;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
}
.kImmoinfoWindow {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
.kImmoinfoWindow strong {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    color: #323232;
    padding: 5px 0 8px;
    display: block;
}
.kImmoinfoWindow span.kiipprice {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #A99E81;
    padding-bottom: 25px;
    display: block;
}

.kImmoinfoWindow a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #242424;
    border-bottom: 2px solid #242424;
    padding-bottom: 3px;
    display: inline-block;
    vertical-align: baseline;
}
.gm-style-iw-d{
	position: relative!important;
	right: 2px!important;
}
.kImmoinfoWindow a:hover {
    border-color: #15B615;;
}
body #prmap .gm-style .gm-style-iw-t::before {
    background: #fff;
    box-shadow: none;
    content: "";
    height: 25px;
    width: 25px;
    z-index: 1;
    left: 0;
    position: absolute;
    top: -2px;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.gm-ui-hover-effect{
	padding-right: 20px!important;
	padding-top: 10px!important;
}
.kiiwicon{
	display: block;
}

.grds-page-entry-hdr-title{
	padding-top: 55px;
}
.grds-page-entry-hdr-title h1{
	font-size: 56px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #282828;
	font-weight: 900;
}

.grds-page-entry-hdr .psearch-form-fields .bootstrap-select>.dropdown-toggle,
.grds-page-entry-hdr .psearch-form-fields .submit button{
	height: 82px;
}

.grds-page-entry-hdr .psearch-form-fields > ul > li{
	padding-top: 0;
	padding-bottom: 0;
}
.grds-page-entry-hdr .psearch-form{
	padding-top: 40px;
	padding-bottom: 37px;
}
.grds-page-entry-hdr .psearch-form-fields{
	background: #FFFFFF;
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
}
.tab-btns-filter-btn{
	padding-right: 10px;
}
.tab-btns-filter button{
	cursor: pointer;
	min-width: 185px;
	height: 56px;
	border: 2px solid #F3F3F3;
	box-sizing: border-box;
	border-radius: 50px;
	display: inline-block;
	vertical-align: baseline;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #7B7B7B;
	font-weight: 500;
	font-size: 14px;
	line-height: 28px;
	padding-left: 10px;
	padding-right: 10px;
	opacity: .7;
}
.tab-btns-filter-btn{
	display: inline-block;
	vertical-align: baseline;
}
.tab-btns-filter-btn i{
	width: 34px;
	height: 34px;
	background: #14A7FA;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}
.tab-btns-bar-ctlr{
	padding-bottom: 35px;
}
.tab-btns-filter-btn button:hover{
	border-color: #15B615;
}
.tab-btns-filter-btn button.mixitup-control-active{
	border-color: #15B615;
	opacity: 1!important;
}
.tab-btns-filter-btn button.mixitup-control-active i{
	background: #15B615!important;
}
.tab-btns-filter-btn button.mixitup-control-active span{
	color: #15B615;
}

.tab-btns-filter{
	float: left;
}

.tab-btns-bar-rgt-select{
	float: right;
	display: flex;
	align-items: center;
	padding-top: 10px;
}
.tab-btns-bar-rgt-select label{
	margin-bottom: 0;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #C4C4C4;
	font-size: 14px;
	line-height: 28px;
	padding-right: 1px;
}
.tab-btns-bar-rgt-select button.btn-light{
	background: transparent;
	border: 0;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #282828;
	font-size: 16px;
	line-height: 28px;
	font-weight: 500;
}

.tab-btns-bar-rgt-select .dropdown-toggle::after {
    content: "";
    border: 0!important;
    background-repeat: no-repeat;
    background-image: url(../images/select-dropdown-icon-dwn.png);
    background-size: 100% 100%;
    width: 16px;
    height: 9px;
    position: relative;
    top: 3px;
}
.tab-btns-bar-rgt-select .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 245px;
}

.tab-btns-filter-btn:nth-child(1) button i{
	background: #15B615;
}
.tab-btns-filter-btn:nth-child(2) button i{
	background: #14A7FA;
}
.tab-btns-filter-btn:nth-child(3) button i{
	background: #FA9014;;
}

.tab-btns-bar-orange-ctlr .tab-btns-filter-btn button:hover {
    border-color: #FA9014;
}

.tab-btns-bar-orange-ctlr .tab-btns-filter-btn button.mixitup-control-active {
    border-color: #FA9014;
}
.tab-btns-bar-orange-ctlr .tab-btns-filter-btn button.mixitup-control-active i {
    background: #FA9014!important;
}

.tab-btns-bar-orange-ctlr .tab-btns-filter-btn button.mixitup-control-active span {
    color: #FA9014;
}
.bootstrap-select .dropdown-toggle:focus {
    outline: none!important;
    outline-offset: 0px;
}


@media(max-width: 1499px){
	header,
	footer{
		display: none!important;
	}
}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	#prmap, #prmap2 {
	    height: 500px;
	}

}

@media(max-width: 991px){
	.bvi-grid-ctlr ul li {
	    width: 50%;
	}	
	.bvi-pagination-sec {
	    padding-bottom: 50px;
	}
	.tab-btns-bar-rgt-select{
		float: left;
		width: 100%;
	}
}

@media(max-width: 767px){
	#prmap, #prmap2 {
	    height: 400px;
	}
	.bvi-grd-item-img{
		min-height: 300px;
	}
}
@media(max-width: 639px){
	.hide-639{
		display: none!important;
	}
	.show-639{
		display: block!important;
	}
	.bvi-grid-ctlr ul li {
	    width: 100%;
	}
	.bvi-grid-ctlr ul li{
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 40px;
	}
	.bvi-grid-ctlr ul li .bvi-grd-item{
		max-width: 450px;
		margin-left: auto;
		margin-right: auto;
		border-bottom: 1px solid #F1F1F1;
	}
	.bvi-grid-ctlr ul {
	    margin-left: 0;
	    margin-right: 0;
	}
	.bvi-grd-item-des{
		padding-bottom: 30px;
	}
	.bvi-grid-ctlr ul li:last-child{
		padding-bottom: 0;
	}
	.bvi-grid-ctlr ul li:last-child .bvi-grd-item{
		border-bottom: none;
	}
	.bvi-pagination-sec {
	    padding-bottom: 0;
	}
	.bvi-pgt-cltr{
		margin-left: -15px;
		margin-right: -15px;
	}
	

}




@media(max-width: 575px){


}

@media(max-width: 479px){
	

}

@media(max-width: 359px){

}