.bw-invest-sec{ 
  position: relative;
} 
.bw-invest-top-gray-bg{
  position: absolute;
  background: -webkit-linear-gradient(0deg, #F9F9F9, #F9F9F9);
  background: linear-gradient(0deg, #F9F9F9, #F9F9F9);
  z-index: 1;
  left: 56%;
  right: 0;
  top: 0;
  height: 464px;
}
.bw-invest-innr{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #F1F1F1;
}
.bw-invest-des{
  order: 1;
  width: 53%;
  padding-right: 165px;
}
.bw-invest-des h2{
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.02em;
  font-weight: 900;
  text-transform: uppercase;
  color: #282828;
  margin-bottom: 40px;
}
.bw-invest-des h2 strong{
  display: block;
  vertical-align: baseline;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
}
.bw-invest-des p{
  margin-bottom: 28px;
}
.bw-invest-des a{
  display: inline-block;
  vertical-align: baseline;
  border: 2px solid #15B615;
  border-radius: 50px;
  padding: 13px 75px 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #15B615;
  position: relative;
  top: 12px;
}
.bw-invest-des a:hover{
  background: #15B615;
  color: #fff;
}
.bw-invest-img{
  order: 2;
  width: 47%;
  padding: 63px 0 65px 77px;
  position: relative; 
  z-index: 2;
  overflow: hidden;
}
.bw-invest-img .bw-invest-img-bg{
  position: relative; 
  z-index: 4;
  background-repeat: no-repeat!important;
  background-position: center center!important;
  background-size: cover!important;
  min-height: 600px;
  text-align: center;
}
.bw-invest-img span{
  display: inline-block;
  vertical-align: baseline;
  max-width: 556px;
  position: relative; 
  z-index: 4;
  display: none;
}
.bw-invest-img span img{
  width: 100%;
}
.bw-invest-img::after{
  content: "";
  position: absolute;
  background: -webkit-linear-gradient(0deg, #F9F9F9, #F9F9F9);
  background: linear-gradient(0deg, #F9F9F9, #F9F9F9);
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  height: 464px;
}
.slider-filter-bar{
  padding: 60px 90px 40px 0;
}
.slider-filter-bar a{
  display: inline-block;
  vertical-align: baseline;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #C4C4C4;
  margin-right: 70px;
}
.slider-filter-bar a.active{
  color: #282828;
}
.slider-filter-bar a:hover{
  color: #15B615;
}
.slider-filter-bar a span{
  display: inline-block;
  vertical-align: baseline;
  font-weight: 500;
  font-size: 24px;
  line-height: 48px;
}
.slider-filter-bar a strong{
  display: inline-block;
  vertical-align: baseline;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
}
.hmGrdSlider-wrap{
  margin-left: -11px;
  margin-right: -11px;
  position: relative;
  padding-bottom: 8px;
}
.hm-grd-slider-sec{
  background: #F4F4F4;
}
.hmGrdSlider-item {
  padding-left: 11px;
  padding-right: 11px;
  width: 33.333%;
  float: left;
}
.hmGrdSlider .hmGrdSlider-item{
    display: none;
}
.hmGrdSlider .hmGrdSlider-item:nth-child(1),
.hmGrdSlider .hmGrdSlider-item:nth-child(2),
.hmGrdSlider .hmGrdSlider-item:nth-child(3){
  display: block;
}
.hmGrdSlider.slick-initialized .hmGrdSlider-item{
  display: block;
}
.hmGrdSlider-grd-img{
  overflow: hidden;
  position: relative;
}
.hmGrdSlider-grd-img-bg{
  background-repeat: no-repeat!important;
  background-position: center center!important;
  background-size: cover!important;
  min-height: 360px;
  -webkit-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;  
}
.hmGrdSlider-grd:hover .hmGrdSlider-grd-img-bg{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.hmGrdSlider-grd-img .key-info-grd-spn{
  display: inline-block;
  vertical-align: middle;
  padding: 5px 22px 5px 8px;
  margin: 8px 0;
  border-radius: 8px;
  position: relative;
}
.hm-grd-img-info-wrp{
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 10px;
  z-index: 12
}
.green-info .key-info-grd-spn{
  background: #15B615;
}
.sky-info .key-info-grd-spn{
  background: #14A7FA;
}
.yellow-info .key-info-grd-spn{
  background: #FA9014;
}
.hmGrdSlider-grd-img span::after{
  content: "";
  position: absolute;
  left: 11px;
  top: 100%;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #0000;
}
.green-info .key-info-grd-spn::after{
  border-top: 8px solid #15B615;
}
.sky-info .key-info-grd-spn::after{
  border-top: 8px solid #14A7FA;
}
.yellow-info .key-info-grd-spn::after{
  border-top: 8px solid #FA9014;
}
.hmGrdSlider-info-right .key-info-bg{
  background: #15B615;
}
.hmGrdSlider-info-right .date-info-bg{
  background: #14A7FA;
}
.hmGrdSlider-info-right .medel-info-bg{
  background: #FA9014;
}
.hmGrdSlider-grd-img span i{
  display: inline-block;
  vertical-align: middle;
}
.hmGrdSlider-grd-img span strong{
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.hmGrdSlider-grd-des{
  padding: 27px 15px 20px 0;
  letter-spacing: 0.02em;
}
.hmGrdSlider-grd-des > span{
  display: inline-block;
  vertical-align: baseline;
  color: #15B615;
  margin-bottom: 10px;
  font-size: 20px;
}
.hmGrdSlider-grd-des h5{
  font-weight: 700;
  margin-bottom: 22px;
}
.hmGrdSlider-grd-des h5 a{
  color: #282828;
}
.hmGrdSlider-grd-des h5 a:hover{
  color: #15B615;
}
.hmGrdSlider-grd-des ul{
 margin-bottom: 25px;
}
.hmGrdSlider-grd-des ul li{
  float: left;
  padding-right: 15px;
}
.hmGrdSlider-grd-des ul li:last-child{
  padding-right: 0;
}
.hmGrdSlider-grd-des ul li i{
  display: inline-block;
  vertical-align: middle;
  padding-right: 3px;
  position: relative;
}
.hmGrdSlider-grd-des ul li:last-child i{
  top: -2px;
}
.hmGrdSlider-grd-des li span{
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #7B7B7B;
}
.hmGrdSlider-grd-des > a{
  display: inline-block;
  vertical-align: baseline;
  font-weight: 500;
  font-size: 14px;
  color: #282828;
  padding-right: 22px;
  position: relative;
}
.hmGrdSlider-grd-des > a:hover{
  padding-right: 27px;
  color: #15B615;
}
.hmGrdSlider-grd-des > a::after{
  content: "";
  position: absolute;
  right: 0;
  top: 47%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  background: url(../images/hmGrdSlider-grd-lnc-icon.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.hmGrdSlider-grd-des > a:hover::after{
  background: url(../images/hmGrdSlider-grd-lnc-icon-h.png);
  background-repeat: no-repeat;
}
.hmGrdSliderLeftArrow{
  position: absolute;
  right: 62px;
  top: -110px;
  display: inline-block;
  cursor: pointer;
  z-index: 5;
}
.hmGrdSliderRightArrow {
  position: absolute;
  right: 11px;
  top: -110px;
  display: inline-block;
  cursor: pointer;
  z-index: 5;
}
.hmGrdSliderLeftArrow svg,
.hmGrdSliderRightArrow svg{
  -webkit-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
.hmGrdSliderLeftArrow:hover svg,
.hmGrdSliderRightArrow:hover svg{
  fill: #15B615!important;
}
.hmGrdSlider-info{
  padding: 70px 0 72px;
  border-top: 1px solid rgba(196, 196, 196, 0.21);
}
.hmGrdSlider-info-left{
  width: 60%;
}
.hmGrdSlider-info-left a{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #656565;
  padding: 17px 5px;
  margin-right: 22px;
  border: 2px solid #656565;
  border-radius: 50px;
}
.hmGrdSlider-info-left a:hover{
  color: #15B615;
  border-color: #15B615;
}
.hmGrdSlider-info-left a:nth-child(1){
  min-width: 300px;
}
.hmGrdSlider-info-left a:nth-child(2){
  min-width: 336px;  
}
.hmGrdSlider-info-left a:nth-child(2) span{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 35px;
}
.hmGrdSlider-info-left a:nth-child(2) i{
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top:-2px;
}
.hmGrdSlider-info-left a:nth-child(2) i svg{
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.hmGrdSlider-info-left a:nth-child(2):hover i svg{
  fill: #15B615!important;
}
.hmGrdSlider-info-right{
  width: 40%;
  text-align: right;
  padding-top: 7px;
}
.hmGrdSlider-info-right li{
  display: inline-block;
  vertical-align: baseline;
  margin-left: 50px;
}
.hmGrdSlider-info-right li:first-child{
  margin-left: 0;
}
.hmGrdSlider-info-right li span{
  display: inline-block;
  vertical-align: baseline;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  text-align: center;
  margin-right: 5px;
}
.hmGrdSlider-info-right li span i{
  display: inline-block;
  vertical-align: baseline;
  line-height: 42px;
}
.hmGrdSlider-info-right li strong{
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #7B7B7B;
}
.hm-testimonial-innr{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hm-testimonial-img{
  padding: 10px 0;
  order:1;
  width: 50.72%;
  padding-left: 15px;
}
.hm-testimonial-img-innr{
  max-width: 699px;
  float: right;
  padding-right: 135px;
  width: 100%;
}
.hm-testimonial-img .hm-testimonial-bg{
  background-repeat: no-repeat!important;
  background-position: center center!important;
  background-size: cover!important;
  min-height: 584px;
  text-align: center;
}
.hm-testimonial-bg span{
  display: inline-block;
  vertical-align: baseline;
  max-width: 556px;
  display: none;
}
.hm-testimonial-bg span img{
  width: 100%;
}
.hm-testimonial-main{
  width: 49.28%;
  padding: 122px 0 128px;
  order: 2;
}
.hmTestimonialSlider-wrap{
  background: #F4F4F4;
}
.hmTestimonialSlider-wrap-innr{
  position: relative;
  max-width: 670px;
  width: 100%;
  float: left;
  padding-right: 15px;
  background: #F4F4F4;
}
.hmTestimonialSlider{
}
.hmTestimonialSlider-item{
  padding: 57px 15px 60px 85px;
}
.hmTestimonialSlider i{
  display: inline-block;
  vertical-align: baseline;
  max-width: 70px;
  margin-bottom: 14px;
}
.hmTestimonialSlider i img{
  width: 100%;
}
.hmTestimonialSlider p{
  font-style: italic;
  font-weight: 300;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #7B7B7B;
  margin-bottom: 10px;
}
ul.testimonial-ratings li{
  float: left;
  padding-right: 8px;
}
ul.testimonial-ratings li i{
  display: inline-block;
  vertical-align: baseline;
  color: #FFC107;
  font-size: 20px;
}
.hmTestimonialSlider strong{
  display: block;
  line-height: 36px;
  letter-spacing: 0.02em;
  padding-right: 80px;
  font-weight: 500;
}
.hmTestimonialSlider strong span{
  font-weight: 300;
  font-style: italic;
}
.testimonialRightArrow{
  position: absolute;
  right: 0;
  bottom: 65px;
  display: inline-block;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
.testimonialLeftArrow{
  position: absolute;
  right: 55px;
  bottom: 65px;
  display: inline-block;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
.testimonialLeftArrow svg,
.testimonialRightArrow svg{
  -webkit-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
.testimonialLeftArrow:hover svg,
.testimonialRightArrow:hover svg{
  fill: #15B615!important;
}
.hmTestimonialSlider .hmTestimonialSlider-item{
    display: none;
}
.hmTestimonialSlider .hmTestimonialSlider-item:first-child{
    display: block;
}
.hmTestimonialSlider.slick-initialized .hmTestimonialSlider-item{
    display: block;
}
.pregress-counter-innr{
  padding: 60px 0 64px;
}
.pregress-counter-col{
  position: relative;
  width: 25%;
  float: left;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.pregress-counter-col span{
  display: inline-block;
  vertical-align: baseline;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #282828;
}
#container5x,
#container1,
#container2,
#container3,
#container4 {
  width: 155px;
  height: 155px;
  position: relative;
  margin: 0 auto 20px;
}
.pregress-counter-col .progressbar-text{
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #282828 !important;
}
.pregress-counter-innr-wrp{
  position: relative;
}
.pregressLeftArrow {
  position: absolute;
  left:0;
  bottom: -1px;
  display: inline-block;
  cursor: pointer;
  z-index: 5;
}
.pregressRightArrow {
  position: absolute;
  right: 0;
  bottom: -1px;
  display: inline-block;
  cursor: pointer;
  z-index: 5;
}







/*
----------------
 Pagination Css
----------------
*/


.dft-slider-pagi .slick-dots{
  position: relative;
  top: 34px;
}
.dft-slider-pagi .slick-dots li{
  background-image: url(../images/dft-slider-pagi-1.svg);
  background-size: 13px 13px;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0 5px;
  display: inline-block;
  vertical-align: baseline;
  float: none;
}

.dft-slider-pagi .slick-dots li,
.dft-slider-pagi .slick-dots li button,
.dft-slider-pagi .slick-dots li button::before{
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}

.dft-slider-pagi .slick-dots li button::before{
  content: "";
}
.hmGrdSlider.dft-slider-pagi .slick-dots li.slick-active,
.hmGrdSlider.dft-slider-pagi .slick-dots li:hover,
.dft-slider-pagi .slick-dots li.slick-active,
.dft-slider-pagi .slick-dots li:hover{
  background-image: url(../images/dft-slider-pagi-2.svg);
  background-size: 13px 13px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}
.hmTestimonialSlider .slick-dots li,
.hmGrdSlider.dft-slider-pagi .slick-dots li{
  background-image: url(../images/dft-slider-pagi-3.svg);
}

.hmTestimonialSlider.dft-slider-pagi .slick-dots {
  position: relative;
  top: -20px;
}

.detailTestimonialSlider.dft-slider-pagi .slick-dots {
    position: relative;
    top: -46px;
}













@media(max-width: 1599px){
  .bw-invest-img {
    padding: 55px 0 55px 45px;
  }
  .bw-invest-des {
    order: 1;
    width: 53%;
    padding-right: 85px;
  }
}

@media(max-width: 1499px){

}

@media(max-width: 1399px){
  .testimonialLeftArrow {
    right: 65px;
  }
  .testimonialRightArrow {
    right: 15px;
  }
  .hmGrdSlider-info-right li {
    margin-left: 40px;
  }
}
@media(max-width: 1299px){
  .hm-testimonial-img-innr {
    max-width: 699px;
    float: right;
    padding-right: 90px;
    width: 100%;
  }
}

@media(max-width: 1199px){
  .bw-invest-sec::after {
    content: none;
  }
  .bw-invest-des {
    order: 1;
    width: 53%;
    padding-right: 15px;
  }
  .bw-invest-img {
    padding: 45px 0 45px 27px;
  }
  .bw-invest-des h2 {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 25px;
  }
  .bw-invest-des h2 strong {
    font-size: 35px;
    line-height: 45px;
  }
  .pregress-counter-col .progressbar-text {
    font-size: 28px;
  }
  .pregress-counter-col span {
    font-size: 18px;
  }
  .hmGrdSlider-grd-des {
    padding: 27px 10px 20px 0;
  }
  .hmGrdSlider-info-left {
    width: 100%;
    text-align: center;
  }
  .hmGrdSlider-info-right {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }
  .hmGrdSlider-info-left a:nth-child(2) {
    margin-right: 0;
  }
  .hm-testimonial-main {
    padding: 120px 0;
  }
  .hmTestimonialSlider-item {
    padding: 45px 15px 50px 30px;
  }
  .hm-testimonial-img-innr {
    padding-right: 30px;
  }
  .hmGrdSlider-grd-img-bg {
    min-height: 300px;
  }
}

@media(max-width: 991px){
  .hm-testimonial-sec {
    padding-top: 55px;
  }
  .bw-invest-img::after {
    content: none;
  }
  .bw-invest-innr {
    display: block;
    border-bottom: 1px solid #F1F1F1;
    padding-top: 50px;
  }
  .bw-invest-img {
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
  .bw-invest-img .bw-invest-img-bg {
    background: none!important;
    min-height: initial;
  }
  .bw-invest-img span {
    display: inline-block;
  }
  .bw-invest-des {
    width: 100%;
    padding-right: 0;
    padding-bottom: 50px;
  }
  .bw-invest-des p {
    margin-bottom: 18px;
  }  
  .bw-invest-des h2 {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .bw-invest-des h2 strong {
    font-size: 30px;
    line-height: 40px;
  }
  .pregress-counter-col .progressbar-text {
    font-size: 24px;
  }
  .pregress-counter-col span {
    font-size: 14px;
  }
  .hm-testimonial-innr {
    display: block;
  }
  .hm-testimonial-img {
    padding: 10px 0;
    order: 1;
    width: 100%;
    padding: 0;
  }
  .hm-testimonial-main {
    width: 100%;
    padding: 30px 0 50px;
    max-width: 550px;
    margin: 0 auto;
  }
  .hmTestimonialSlider-item {
    padding: 45px 15px 107px;
    text-align: center;
  }
  .hmTestimonialSlider-wrap-innr {
    padding-right: 0;
  }
  .hm-testimonial-img-innr {
    max-width: initial;
    float: none;
    padding-right: 15px;
    width: 100%;
    padding-left: 15px;
    text-align: center;
  }
  .hm-testimonial-img .hm-testimonial-bg {
    background:none!important;
    min-height: initial;
  }
  .hm-testimonial-bg span {
    display: inline-block;
  }
  .hm-testimonial-sec {
    padding-left: 15px;
    padding-right: 15px;
  }
  .hmTestimonialSlider .testimonial-ratings{
    display: table;
    margin: 0 auto;
  }
  .testimonialLeftArrow {
    right: initial;
    left: 15px;
    bottom: 45px;
  }
  .testimonialRightArrow {
    right: 15px;
    bottom: 45px;
  }
  .slider-filter-bar a span {
    font-size: 20px;
    line-height: 35px;
  }
  .slider-filter-bar a strong {
    font-size: 42px;
    line-height: 48px;
  }
  .hmTestimonialSlider strong {
    padding-right: 0;
  }
}

@media(max-width: 767px){
  .pregress-counter-col span {
    font-size: 22px;
  }
  .pregress-counter-col .progressbar-text {
    font-size: 33px;
  }
  .pregress-counter-innr {
    padding: 60px 0 41px;
  }
  .hmGrdSlider.slick-slider .slick-list{
    border-bottom: 1px solid rgba(196, 196, 196, 0.21);
  }
  .hmGrdSlider-grd-des {
    padding: 27px 10px 30px 0;
  }
  .hmGrdSliderLeftArrow {
    right: initial;
    top: initial;
    left: 0;
    bottom: -2px;
  }
  .hmGrdSliderRightArrow {
    right: 0;
    top: initial;
    bottom: -2px;
  }
  .hmGrdSlider-wrap {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    padding-bottom: 8px;
  }
  .hmGrdSlider-info {
    border-top: 0;
    padding: 32px 0 45px;
  }
  .hmGrdSlider-info-left a {
    margin: 10px 10px;
  }
  .sm-slider-filter-bar{
    position: relative;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 145px 0 20px;
  }
  .sm-slider-filter-bar h1 {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #282828;
    opacity: 0;
    position: absolute;
    top: 55px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -ms-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .sm-slider-filter-bar h1.huizen {
    opacity: 1;
  }
  .sm-slider-filter-bar h1 small{
    font-size: 24px;
    line-height: 30px;
  }
  .sm-slider-filter-bar a {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #7B7B7B;
    display: inline-block;
    vertical-align: middle;
    -ms-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .sm-slider-filter-bar a.active{
    color: #15B615;
  }
  .sm-slider-filter-bar span.switch-btn{
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #15B615;
    border-radius: 50px;
    position: relative;
    background: #fff;
    padding: 2px;
    margin-left: 12px;
    margin-right: 12px;
    width: 30px;
    height: 16px;
  }
  .sm-filter-link span i {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    width: 8px;
    height: 8px;
    left: 3px;
    top: 50%;
    background: #15B615;
    border-radius: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .sm-filter-link{
    padding-bottom: 18px;
  }
  .hmGrdSlider-info-right li {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 12px;
  }
  .hmGrdSlider-info-right {
    border-top: 1px solid rgba(196, 196, 196, 0.21);
  }

  .hmGrdSlider .hmGrdSlider-item{
      display: none;
  }
  .hmGrdSlider .hmGrdSlider-item:nth-child(3){
    display: none;
  }
  .hmGrdSlider .hmGrdSlider-item:nth-child(1),
  .hmGrdSlider .hmGrdSlider-item:nth-child(2){
    display: block;
  }
  .hmGrdSlider.slick-initialized .hmGrdSlider-item{
    display: block;
  }
  .pregressSlider .pregress-counter-col{
    display: none;
  }
  .pregressSlider .pregress-counter-col:nth-child(1),
  .pregressSlider .pregress-counter-col:nth-child(2){
    display: block;
  }
  .pregressSlider.slick-initialized .pregress-counter-col{
    display: block;
  }
  .hm-testimonial-main .testimonialLeftArrow,
  .hm-testimonial-main .testimonialRightArrow {
    bottom: 44px;
  }
  .hmGrdSlider-info-left a:nth-child(2),
  .hmGrdSlider-info-left a:nth-child(1) {
    min-width: initial!important;
    max-width: 330px;
    display: block;
    margin: 0 auto;
  }
  .hmGrdSlider-info-left a:nth-child(1) {
    margin-bottom: 25px;
  }

}



@media(max-width: 575px){  
  .bw-invest-innr {
    padding-top: 10px;
  }
  .bw-invest-des h2 {
    line-height: 35px;
    font-size: 35px;
  }
  .hmGrdSlider-info-left a {
    width: 100%;
    margin: 10px 0;
    min-width: initial!important;
  }
  .hmTestimonialSlider p {
    font-size: 20px;
    line-height: 30px;
  } 
  .hmGrdSlider .hmGrdSlider-item:nth-child(2),
  .hmGrdSlider .hmGrdSlider-item:nth-child(3){
    display: none;
  }
  .hmGrdSlider .hmGrdSlider-item:nth-child(1){
    display: block;
  }
  .hmGrdSlider.slick-initialized .hmGrdSlider-item{
    display: block;
  }
  .pregressSlider .pregress-counter-col:nth-child(2),  
  .pregressSlider .pregress-counter-col{
    display: none;
  }
  .pregressSlider .pregress-counter-col:nth-child(1){
    display: block;
  }
  .pregressSlider.slick-initialized .pregress-counter-col{
    display: block;
  }
  .hmGrdSlider-info-right {
    padding-bottom: 0;
    padding-top: 18px;
  }
  .hmGrdSlider-info-right li span {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  .hmGrdSlider-info-right li span i {
    display: inline-block;
    vertical-align: baseline;
    line-height: 27px;
  }
  .hmGrdSlider-info-right li span i svg {
    width: 16px!important;
    height: 16px!important;
  }
}

@media(max-width: 479px){
  .page-banner-sec-con {
    margin-bottom: 82px;
  }
  .hmGrdSlider-info-right li {
      margin-left: 8px;
  }
  .sm-slider-filter-bar h1 {
    font-size: 23px;
    line-height: 28px;
  }
  .sm-slider-filter-bar h1 small {
    font-size: 18px;
    line-height: 20px;
  }
  .sm-slider-filter-bar {
    padding: 120px 0 20px;
  }
  .sm-slider-filter-bar h1 {
    top: 55px;
  }
  .hmGrdSlider-grd-des {
      padding: 27px 10px 10px 0;
  }
}

@media(max-width: 399px){
  .hmGrdSlider-info-right li {
    display: block;
    vertical-align: baseline;
    margin-left: 12px;
    text-align: left;
    margin: 0;
    margin-bottom: 5px;
  }
  .sm-slider-filter-bar a{
    display: block;
    padding: 6px 0;
    font-size: 16px;
  }
  .sm-slider-filter-bar span.switch-btn {
    display: none;
  }
}

@media(max-width: 359px){
  .hmGrdSlider-info-left a {
    font-size: 15px;
  }
}


























