.bvi-grid-sec{
	padding-bottom: 45px;
}
.bvi-grid-ctlr ul{
	margin-left: -12px;
	margin-right: -12px;
}
.bvi-grid-ctlr ul li{
	float: left;
	width: 33.3333%;
	padding-left: 12px;
	padding-right: 12px;
}
.bvi-grid-ctlr ul li:nth-child(3n+1){
	clear: left;
}
.bvi-grd-item{
	position: relative;
}
.bvi-grd-item-img-ctlr{
	position: relative;
	overflow: hidden;
}
.bvi-grd-item-img-ctlr:hover .bvi-grd-item-img{
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
}
.bvi-grd-item-img{
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	min-height: 360px;
	height: 100%;
	transform: scale(1);
	-webkit-transform: scale(1);
	transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
}
.bvi-grd-key{
	position: absolute;
	bottom: 18px;
	left: 8px;
	background: transparent;
	border-radius: 8px;
	padding: 10px 22px 12px 10px;
}
.bvi-grd-key:after{
	content: "";
    position: absolute;
    left: 15px;
    top: 100%;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #fff;
}

.bvi-grd-key i,
.bvi-grd-date i{
	margin-right: 8px;
	display: inline-block;
}
.bvi-grd-key span,
.bvi-grd-date span{
	font-size: 14px;
	color: #fff;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-weight: 500;
}
.green{
	background: #15B615;
}
.green:after{
	border-top: 8px solid #15B615;
}
.red{
	background: #FF2E00;
}
.red:after{
	border-top: 8px solid #FF2E00;
}
.sky{
	background: #14A7FA;
}
.bvi-grd-date{
	position: absolute;
	left: 145px;
	bottom: 18px;
	background: #5C958E;
	border-radius: 8px;
	padding: 10px;
}
.bvi-grd-item-des{
	padding-top: 30px;
	padding-bottom: 60px;
}
.bvi-grd-item-des strong{
	font-size: 20px;
	color: #15B615;
	line-height: 28px;
	letter-spacing: 0.02em;
	font-weight: normal;
}
.bvi-grd-item-des h5{
	font-size: 24px;
	color: #282828;
	line-height: 28px;
	letter-spacing: 0.02em;
	font-weight: 700;
	margin: 0;
	padding-bottom: 25px;
	padding-top: 15px;
	text-transform: uppercase;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.bvi-grd-item-des h5 a{
	color: #282828;
}
.bvi-grd-item-des h5:hover a{
	color: #15B615;
}
.bvi-grd-item-feature{
	padding-bottom: 30px;
}
.bvi-grd-item-feature-item{
	float: left;
	margin-right: 16px;
	padding-left: 35px;
	position: relative;
}
.bvi-grd-item-feature-item i{
	position: absolute;
	left: 0;
	top: -2px;
}
.bvi-grd-item-feature-item i img{
	width: 100%;
}
.bvi-grd-item-feature-item span{
	font-size: 14px;
	color: #7B7B7B;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-weight: normal;
}
.bvi-grd-item-des-link a{
	font-size: 14px;
	color: #282828;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-weight: 500;
	padding-right: 22px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	position: relative; 
}
.bvi-grd-item-des-link a:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	height: 8px;
	width: 13px;
	background: url('../images/bvi-right-arrow.svg');
	background-position: center right;
	background-size: 100% auto;
	background-repeat: no-repeat;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.bvi-grd-item-des-link a:hover{
	color: #15B615;
}
.bvi-grd-item-des-link a:hover:after{
	background: url('../images/bvi-right-arrow - hover.svg');
	background-position: center right;
	background-size: 100% auto;
	background-repeat: no-repeat;
}





.bvi-pagination-sec{
	padding-bottom: 90px;
}
.bvi-pgt-cltr{
	background: #F9F9F9;
}
.bvi-pgt-cltr ul{
	text-align: center;
}
.bvi-pgt-cltr ul.page-numbers li{
	display: inline-block;
	margin-left: 16px;
	margin-right: 16px;
	padding-top: 40px;
	padding-bottom: 38px;
}
.bvi-pgt-cltr ul.page-numbers li a{
	font-size: 16px;
	color: #282828;
	line-height: 28px;
	font-weight: 500px;
}
.bvi-pgt-cltr ul.page-numbers li a:hover{
	color: #15B615;
}
.bvi-pgt-cltr ul.page-numbers .current{
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #15B615;
	border-radius: 8px;
	color: #fff;
}

