/*
-------------------------
over-ons-two-part-sec-wrp
-------------------------
*/
.over-ons-two-part-sec-wrp{
	padding:80px 0;
}
.over-ons-lft{
	position: relative;
	width:43%;
	float: left;
}
.over-ons-lft-btm-img-wrp{
	padding-top: 16px;
}
.over-ons-two-part-innr{
	display: flex;
	align-items: center;
}
.over-ons-lft-img{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	min-height: 402px !important;
}
.over-ons-lft-btm-inr{
	float: left;
	padding: 0 8px;
	width: 50%;
}
.over-ons-lft-btm-img{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	min-height: 402px !important;
}
.over-ons-lft-btm-inr:first-of-type{
	padding-left: 0;
}
.over-ons-lft-btm-inr:last-of-type{
	padding-right: 0;
}
.over-ons-rgt{
	padding: 80px 0 75px 110px;
	width:57%;
	float: left;
}
.over-ons-rgt h4{
	margin: 0;
	margin-bottom: 5px;
	font-weight: 500;
	color: #282828;
	text-transform: uppercase;
	line-height: 42px;
	font-size: 40px;
	letter-spacing: 0.02em;
}
.over-ons-rgt h1{
	margin: 0;
	font-weight: 900;
	text-transform: uppercase;
	color: #282828;
	margin-bottom: 38px;
	letter-spacing: 0.02em;
}
.over-ons-rgt p{
	margin-bottom: 25px;
	line-height: 29px;
}
.over-ons-btn{
	padding-top: 12px;
}
.over-ons-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #15B615;
	max-width: 220px;
	width: 100%;
	height: 56px;
	text-align: center;
	border: 2px solid #15B615;
	box-sizing: border-box;
	border-radius: 50px;
	padding: 18px 65px 20px;
	letter-spacing: 0.02em;
}
.over-ons-btn a:last-child{
	max-width: 200px;
	width: 100%;
	color: #656565;
	border: 2px solid #656565;
	margin-left: 10px;
}
.over-ons-btn a:hover:first-child,
.over-ons-btn a:hover:last-child{
	background: #15B615 !important;
	color: #fff !important;
	border-color: #15B615;
}
/*
------------------------
over-ons-service-sec-wrp
------------------------
*/
.over-ons-service-sec-wrp{
	background: linear-gradient(0deg, #F9F9F9, #F9F9F9);
	padding-top: 75px;
	padding-bottom: 45px;
}
.over-ons-service-head{
	max-width: 940px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 30px;
	letter-spacing: 0.02em;
}
.over-ons-service-head h4{
	margin: 0;
	font-weight: 900;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #282828;
	margin-bottom: 15px;
}
.over-ons-service-wrp ul{
	list-style: none;
	margin: 0 -10px;
	padding: 0;
}
.over-ons-service-wrp ul li {
    float: left;
    width: 25%;
    padding: 0 10px 60px;
}
.over-ons-service-wrp ul li:nth-child(4n+1){
	clear: left;
}
.over-ons-service-dsc{
	text-align: center;
}
.over-ons-service-dsc span{
	display: inline-block;
	vertical-align: baseline;
	width: 92px;
	height: 92px;
	background: #15B615;
	border-radius: 100px;
	position: relative;
}
.over-ons-service-dsc span i{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.over-ons-service-dsc h5{
	margin: 0;
	font-size: 22px;
	line-height: 24px;
	font-weight: 900;
	color: #000;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	margin-top: 22px;
	margin-bottom: 15px;
}
.over-ons-service-dsc p{
	font-size: 16px;
	line-height: 24px;
	color: #656565;
	text-align: center;
}

/*
-----------------------
history-timeline-sec
-----------------------
*/
.history-timeline-sec {
    padding: 65px 0 100px;
}
.history-timeline-top {
    text-align: center;
    padding-bottom: 55px;
}
.history-timeline-top h2{
	margin: 0;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #282828;
	font-weight: 900;
}
.history-timeline-main {
    max-width: 1130px;
    margin: 0 auto;
    position: relative;
    padding-top: 30px;
}
.history-timeline-main ul li{
    position: relative;
}
.history-timeline-main ul li .time-line-wrp{
	width: 50%;
	float: left;
	padding-right: 125px;
}
.history-timeline-main ul li:nth-child(2n+2) .time-line-wrp{
	float: right;
	padding-right: 0;
	padding-left: 125px;
	margin-top: -240px;
}
.history-timeline-main ul li .time-line-wrp .time-line-img{
	float: left;
	width: 100%;
	text-align: right;
}
.history-timeline-main ul li .time-line-wrp .time-line-des{
  float: left;
  width: 100%;
  text-align: right;
}
.history-timeline-main ul li:nth-child(2n+2) .time-line-wrp .time-line-des{
  text-align: left;
}
.time-line-des h3{
	position: relative;
	margin: 0;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 30px;
	color: #15B615;
}
.time-line-des h5{
	margin: 0;
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	color: #282828;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.time-line-des p{
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 24px;
}
.history-timeline-main ul li .time-line-wrp .time-line-des h3:after{
    content: "";
    position: absolute;
    right: -136px;
    top: 10px;
    width: 31px;
    height: 25px;
    border-radius: 100%;
    background: url(../images/time-line-cricle.svg);
    background-repeat: no-repeat;
    background-size: 31px 25px;
    z-index: 3;
}
.history-timeline-main ul li:nth-child(2n+2) .time-line-des h3:after{
	background: url(../images/time-line-cricle-1.svg);
	background-repeat: no-repeat;
    background-size: 31px 25px;
}
.history-timeline-main ul li .time-line-wrp .time-line-des h3 .pointBullet{
	position: absolute;
	left:-64px;
	top:7px;
	width:16px;
	height: 16px;
	border-radius: 100%;
	background:#f3f3f3;
	z-index: 3	
}

.history-timeline-main ul li:nth-child(2n+2) .time-line-des h3:after,
.history-timeline-main ul li:nth-child(2n+2) .time-line-des h3:before{
	left:-138px;
	right:auto;
}


#history-qk-banner-sec .qk-banner-dsc{
    max-width: 800px;
}
.history-timeline-main-wrp{
	overflow: hidden;
	position: relative;
}
.firstLine{
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 2px;
    background: #d5dce4;
    z-index: 1;
}
.activeLine{
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 2px;
    background: #15B615;
    z-index: 2;	
    height: 0;
    overflow: hidden;
}
.historyActiveWrap .firstLine{
	background: #002853;
}
.history-timeline-main.thisActive ul li .time-line-des h3:after{
	background: #002853;
}
.middleElement{
	position: fixed;
	height: 1px;
	width: 1px;
	left: 50%;
	top: 50%;
}
.historyActiveWrap{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0px;
    overflow: hidden;	
}
.historyActiveWrap .time-line-des h3 span,
.historyActiveWrap .history-timeline-main ul li .time-line-img,
.historyActiveWrap .time-line-des p{
	opacity: 0;
	visibility: hidden;
}

/*
--------------------
 Responsive Css
--------------------
*/
@media(max-width: 1599px){
	.over-ons-rgt {
	    padding: 30px 0 30px 50px;
	    width: 57%;
	    float: left;
	}
}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.over-ons-two-part-sec-wrp {
	    padding: 50px 0;
	}
	.over-ons-rgt {
	    width: 60%;
	    float: left;
	}
	.over-ons-lft {
	    width: 40%;
	    float: left;
	}
	.over-ons-rgt h1 {
	    margin-bottom: 25px;
	}
	.over-ons-service-wrp ul li {
	    padding: 0 10px 40px;
	}
	.history-timeline-main ul li .time-line-wrp {
	    padding-right: 60px;
	}
	.history-timeline-main ul li:nth-child(2n+2) .time-line-wrp {
	    padding-left: 60px;
	}
	.history-timeline-main ul li .time-line-wrp .time-line-des h3:after {
	    right: -72px;
	}
	.history-timeline-main ul li:nth-child(2n+2) .time-line-des h3:after, .history-timeline-main ul li:nth-child(2n+2) .time-line-des h3:before {
	    left: -72px;
	}
	.time-line-img img{
		width: 100%;
	}
	.over-ons-rgt h4{
		font-size: 37px;
		line-height: 42px;
	}


}

@media(max-width: 991px){
	.over-ons-rgt {
	    width: 100%;
	    padding: 40px 0 30px 0px;
	}
	.over-ons-lft {
	    width: 100%;
	}
	.over-ons-two-part-innr {
	    display: initial;
	    align-items: center;
	}
	.over-ons-lft-btm-img img,
	.over-ons-lft-img img{
		width: 100%;
	}
	.over-ons-service-wrp ul li {
	    padding: 0 10px 40px;
	    width: 33.3333%;
	}
	.over-ons-service-wrp ul li:nth-child(4n+1){
		clear: none;
	}
	.over-ons-service-wrp ul li:nth-child(3n+1){
		clear: left;
	}
	.history-timeline-main ul li .time-line-wrp {
	    padding-right: 30px;
	}
	.history-timeline-main ul li:nth-child(2n+2) .time-line-wrp {
	    padding-left: 30px;
	    margin-top: -230px;
	}
	.history-timeline-main ul li .time-line-wrp .time-line-des h3:after {
	    right: -42px;
	}
	.history-timeline-main ul li:nth-child(2n+2) .time-line-des h3:after, .history-timeline-main ul li:nth-child(2n+2) .time-line-des h3:before {
	    left: -42px;
	}	
	.over-ons-rgt h4{
		font-size: 34px;
		line-height: 36px;
	}

	.over-ons-lft-img{
		width: 48%;
		float: left;
	}
	.over-ons-lft-btm-img-wrp {
	    width: 52%;
	    float: left;
	    padding-top: 0;
	    padding-left: 16px;
	}
}

@media(max-width: 767px){
	.over-ons-rgt {
	    width: 100%;
	    padding: 40px 0 0px 0px;
	}
	.over-ons-service-head {
	    padding-bottom: 20px;
	}
	.over-ons-service-sec-wrp {
	    padding-top: 50px;
	    padding-bottom: 20px;
	}
	.over-ons-service-wrp ul li {
	    padding: 0 10px 20px;
	    width: 50%;
	}
	.over-ons-service-wrp ul li:nth-child(3n+1){
		clear: none;
	}
	.over-ons-service-wrp ul li:nth-child(2n+1){
		clear: left;
	}
	.history-timeline-sec {
	    padding: 50px 0 70px;
	}
	.history-timeline-main ul li .time-line-wrp {
	    width: 100%;
	    float: left;
	    padding-right: 0;
	    margin-bottom: 35px;
	}
	.history-timeline-main ul li:nth-child(2n+2) .time-line-wrp {
	    padding-left: 0;
	    margin-top: 0;
	}
	.history-timeline-main ul li:last-child .time-line-wrp{
		margin-bottom: 0;
	}
	.history-timeline-main {
	    padding-left: 25px;
	}
	.activeLine {
	    left: 0;
	}
	.firstLine{
		left: 0;
	}
	.history-timeline-main ul li .time-line-wrp .time-line-des {
	    float: left;
	    width: 100%;
	    text-align: left;
	}
	.history-timeline-main ul li .time-line-wrp .time-line-img {
	    float: left;
	    width: 100%;
	    text-align: left;
	}
	.time-line-img img{
		width: auto;
	}
	.history-timeline-main ul li .time-line-wrp .time-line-des h3:after {
	    right: auto;
	    top: 6px;
	    left: -38px;
	    background: url(../images/time-line-cricle-1.svg);
	    background-size: 31px 25px;
	}
	.history-timeline-main ul li:nth-child(2n+2) .time-line-des h3:after,
	.history-timeline-main ul li:nth-child(2n+2) .time-line-des h3:before {
	    left: -38px !important;
	    top: 6px;
	}
	.history-timeline-main-wrp {
	    padding: 0 20px;
	}
	.time-line-des h3{
		margin-bottom: 15px;
	}
	.time-line-des h5{
		margin-bottom: 10px;
	}
	.history-timeline-top {
	    padding-bottom: 40px;
	}
	.over-ons-rgt h4{
		font-size: 32px;
		line-height: 34px;
	}
	.over-ons-service-dsc h5 {
	    font-size: 20px;
	    line-height: 22px;
	}
	.over-ons-lft-btm-img,
	.over-ons-lft-img{
		min-height: 350px !important;
	}
	
}

@media(max-width: 575px){
	.over-ons-btn a {
	    max-width: 200px;
	    width: 100%;
	    height: 50px;
	    padding: 15px 50px 17px;
	    margin: 0 auto;
	    display: table;
	}
	.over-ons-btn a:last-child {
	    max-width: 180px;
	    width: 100%;
	    margin-left: 0;
	    margin: 0 auto;
	    margin-top: 20px;
	}
	.over-ons-service-wrp ul li {
	    padding: 0 10px 20px;
	    width: 100%;
	    max-width: 380px;
	    margin: 0 auto;
	    float: none;
	}
	.over-ons-rgt h4{
		font-size: 29px;
		line-height: 31px;
	}
	.over-ons-lft-btm-img-wrp {
	    width: 100%;
	    float: left;
	    padding-top: 15px;
	    padding-left: 0;
	}
	.over-ons-lft-img {
	    width: 100%;
	    float: left;
	}
	.over-ons-lft-btm-img,
	.over-ons-lft-img{
		min-height: 300px !important;
	}
}

@media(max-width: 479px){
	.over-ons-lft-btm-img,
	.over-ons-lft-img{
		min-height: 280px !important;
	}
}

@media(max-width: 359px){

}