/* 
----------------- 
Start sitemap
-----------------
*/   
.sitemap{
  max-width: 800px;
  margin: 0 auto;
  padding:100px 0;
}
.sitemap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitemap ul ul {
   margin-left: 30px;
  padding-top: 12px;
}

.sitemap ul li {
  padding: 5px 0;
  margin-bottom: 0;
}

.sitemap ul li a {
  display: inline-block;
  vertical-align: baseline;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 12px;
  position: relative;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.sitemap ul li a:hover{
  color: #15B615;
}
.sitemap ul li a:focus{
  text-decoration: underline;
}
.sitemap h2 {
  margin: 0;
  padding-bottom: 40px;
  text-transform: uppercase;
  color: #15B615;
}


/*
=================
  Banner Design
=================
*/

.page-banner-sec-con{
  position: relative;
  min-height: 752px;
}
.page-banner-sec-con::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(20191206-Keizersplein 21, 9300 Aalst-1.jpg), #FFFEFA;
  background-image: -ms-linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(20191206-Keizersplein 21, 9300 Aalst-1.jpg), #FFFEFA;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(20191206-Keizersplein 21, 9300 Aalst-1.jpg), #FFFEFA;
}
.page-banner-bg-con{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat!important;
  background-position: center center!important;
  background-size: cover!important;
  z-index: 2;
}
.page-banner-des{
  padding:216px 0 28px;
  color: #fff;
  max-width:770px;
  position: relative;
  z-index: 5;
}
.page-banner-des h1{
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.page-banner-des strong{
  display: block;
  font-size: 72px;
}

.page-banner-des p{
  font-size: 22px;
  letter-spacing: 0.02em;
}




/*
======================= 
page-banner-filter-form
======================= 
*/

.psearch-form-wrap {
  background: #FFFFFF;
  position: relative;
  z-index: 5;
}
.psearch-form{
  margin-right: -1px; 
}
.psearch-form-fields > ul > li{
  padding: 28px 0 22px;
  width: 20%;
  float: left;
}
.psearch-form-fields > ul > li:nth-child(1){
  width: 19.34%;
}
.psearch-form-fields > ul > li:nth-child(2){
  width:20.15%;
}
.psearch-form-fields > ul > li:nth-child(3){
  width:20.80%;
}
.psearch-form-fields > ul > li:nth-child(4){
  width:20.80%;
}
.psearch-form-fields > ul > li:nth-child(5){
  width:18.91%;
  padding:0;
}
.psearch-form-fields > ul > li > div input{
  width: 100%;
  padding: 33px 37px 33px 40px;
  border: none;
  border-right: 1px solid #F1F1F1;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #282828;
  border-radius: 0
}
.psearch-form-fields > ul > li > div input:focus{
  background: #dae0e5;
}
.psearch-form-fields ::placeholder {
  color: #282828;
  opacity: 1;
}
.psearch-form-fields :-ms-input-placeholder { 
  color: #282828;
  opacity: 1;
}
.psearch-form-fields ::-ms-input-placeholder {
  color: #282828;
  opacity: 1;
}
.psearch-form-fields .submit button{
  position: relative;
  width: 100%;
  height: 118px;
  background: #15B615;
  border: none;
  padding-left: 26px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}
.psearch-form-fields .submit button:hover{
  background: #0d950d;
}
.psearch-form-fields .submit button span{
  position: relative;
  padding-right: 38px;
  vertical-align: middle;
}
.psearch-form-fields .submit button i{
  position: absolute;
  right: 0;
  top: -2px;
}
.psearch-form-fields .bootstrap-select>.dropdown-toggle{
  padding: 20px 37px 20px 40px;
  border: none;
  border-right: 1px solid #F1F1F1;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #282828;
  border-radius: 0;
  background-color: #fff;
}
.pageSearch .psearch-form-fields .bootstrap-select>.dropdown-toggle{
  padding: 27px 37px 20px 40px;
}
.psearch-form-fields > ul > li:nth-child(4) .bootstrap-select>.dropdown-toggle{
  border-right: 0;
}
.psearch-form-wrap form .bootstrap-select .caret::before{
  right: 7px;
}
.psearch-form-wrap form .dropdown-menu {
  background-color: #fff!important;
}
.psearch-form-wrap form .dropdown-menu li a,
.tab-btns-bar-rgt-select .dropdown-menu li a{
  color: #515151;
  padding-top: 7px;
  padding-bottom: 7px;
  line-height: 20px;
  font-size: 14px;
}
.psearch-form-wrap .dropdown-item:focus, 
.psearch-form-wrap .dropdown-item:hover,
.psearch-form-wrap .dropdown-item.selected,
.tab-btns-bar-rgt-select .dropdown-item:focus,
.tab-btns-bar-rgt-select .dropdown-item:hover,
.tab-btns-bar-rgt-select .dropdown-item.selected{
  background-color: #15B615;
  color: #fff;
}
.psearch-form-fields .dropdown-menu > .active > a, 
.psearch-form-fields .dropdown-menu > .active > a:focus, 
.psearch-form-fields .dropdown-menu > .active > a:hover {
  background-color:  #15B615;
  color: #fff;
}
.psearch-form-wrap .dropdown-toggle::after {
  content: "";
  border:0!important;
  background-repeat: no-repeat;
  background-image: url('../images/select-dropdown-icon-dwn.png');
  background-size: 100% 100%;
  width: 16px;
  height: 9px;
}
.psearch-form-wrap .dropdown.show .dropdown-toggle::after {
  background-repeat: no-repeat;
  background-image: url('../images/select-dropdown-icon-up.png');
}
.psearch-form-wrap .btn-light.focus, 
.psearch-form-wrap .btn-light:focus {
  box-shadow: none!important;
}

.psearch-form-wrap .btn-light:not(:disabled):not(.disabled).active, 
.psearch-form-wrap .btn-light:not(:disabled):not(.disabled):active, 
.psearch-form-wrap .show > .btn-light.dropdown-toggle {
  background: #fff;
}
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark{
  display: none;
}

.bradecumb-sec-wrp{
  background: #16b616;
  padding: 30px 0 25px;
}
.bradecumb{
  float: left;
  position: relative;
  padding-left: 13px;
}
.bradecumb ul{
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.bradecumb > a{
  position: absolute;
  left: 0;
  top: -8px;
}
.bradecumb ul i:hover svg{
  fill: #ddd;
}
.bradecumb ul li{
  float: left;
  font-size: 16px;
  line-height: 18px;
  padding: 0 31px;
  position: relative;
}
.bradecumb ul li:after{
  content: "";
  position: absolute;
  right: -9px;
  top: 3px;
  background: url(../images/bradecumb-arrows.svg);
  background-repeat: no-repeat;
  background-size: 18px 13px;
  width: 18px;
  height: 13px;
}
.bradecumb ul li:last-child:after{
  content: none;
}
.bradecumb ul li a{
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.bradecumb-btn a:hover,
.bradecumb ul li a:hover{
  color: #ddd;
}
.bradecumb-btn{
  float: right;
  margin-top: -7px;
}
.bradecumb-btn a{
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding-left: 40px;
  position: relative;
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.bradecumb-btn a i{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.bradecumb-btn a:hover i svg{
  fill: #ddd;
}
.bradecumb-btn a:hover i{
  left: -5px;
}







@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){
  .page-banner-sec-con {
    min-height: 700px;
  }
  .psearch-form-fields > ul > li {
    padding: 15px 0;
  }
  .psearch-form-fields .bootstrap-select > .dropdown-toggle {
    padding: 22px 25px 22px;
  }
  .psearch-form-fields .submit button {
    height: 102px;
  }
}

@media(max-width: 1199px){
  .page-banner-sec-con {
    min-height: 600px;
  }
  .page-banner-des {
    padding: 175px 0 28px;
  }
  .page-banner-des h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .page-banner-des strong {
    display: block;
    font-size: 60px;
  }
  .psearch-form-fields .bootstrap-select > .dropdown-toggle {
    padding: 15px 17px;
  }
  .psearch-form-fields .submit button {
      height: 88px;
  }

}

@media(max-width: 991px){
  .page-banner-sec-con {
    min-height: 480px;
  }
  .page-banner-des h1 {
    font-size: 32px;
    line-height: 42px;
  }
  .page-banner-des strong {
    display: block;
    font-size: 55px;
  }
  .psearch-form-fields .bootstrap-select>.dropdown-toggle {
    font-size: 14px;
    line-height: 22px;
  }
  .psearch-form-fields > ul > li {
    padding: 8px 0;
  }
  .psearch-form-fields .submit button {
    height: 68px;
  }
  .psearch-form-wrap .dropdown-toggle::after {
    width: 12px;
    height: 8px;
    position: relative;
    top: 3px;
  }
  .psearch-form-fields .submit button span {
    position: relative;
    padding-right: 28px;
  }
  .psearch-form-fields .submit button {
    font-size: 15px;
  }  
  .psearch-form-fields .submit button i {
    top: -5px;
  }
  .psearch-form-fields .submit button i svg{
    width: 18px!important;
    height: 18px!important;
  }


  /*---- responsive nav ---*/

  .nav-opener-popup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    cursor: pointer;
    z-index: 1;
    margin: 0;
  }
  .nav-opener-innr {
    position: relative;
    height: 100%;
    background: #15B615;
  }
  .nav-opener-btn {
    position: absolute;
    top: 20px;
    left: 32px;
  }
  .nav-opener-popup strong {
    font-weight: 700;
    display: inline-block;
    vertical-align: baseline;
    margin: 0;
    position: absolute;
    top: 25px;
    left: 87px;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .md-menu-close-btn-controller {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    cursor: pointer;
    z-index: 5;
    margin: 0;
    display: none;
  }
  .md-menu-close-btn-controller.with-popup{
    right: 50%;
    width: 50%;
    display: inline-block;
  }
  .fl-close-btn-wrp{
    position: relative;
    height: 100%;
    background: #282828;
  }
  .fl-close-btn{
    position: absolute;
    top: 20px;
    left: 32px;
  }
  .md-menu-close-btn-controller strong {
    font-weight: 700;
    display: inline-block;
    vertical-align: baseline;
    margin: 0;
    position: absolute;
    top: 25px;
    left: 87px;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #C4C4C4;
  }
  .md-menu-btn-contact {
    float: left;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    background: #FF8A00;
  }


/*--- md menu ----*/
  .md-popup-main-menu-wrap{
    text-align: center;
    color: #474747;
  }
  .md-nav-bar-controller{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 23;
  }
  .md-popup-main-menu-wrap {
    padding: 146px 25px 105px;
    display: none;
    overflow-y: scroll;
    position: fixed;
    z-index: 99;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #282828;
  }
  .md-menu-btn-bar {
    padding: 30px 30px 60px;
    width: 100%;
    text-align: center;
  }
  .md-menu-btn-bar a {
    display: block;
    height: 100%;
    padding: 15px 10px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .md-menu-btn-contact a span{
    position: relative;
    padding-top:7px; 
    display: inline-block;
    vertical-align: baseline;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .home-bnr-md-nav-bar-controller {
    margin-top: 0;
    position: fixed;
    z-index: 5;
    background-color: #282828;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    z-index: 100;
  }
  .md-popup-main-nav  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: none;
    text-align: center;
  }
  .md-popup-main-nav ul li a{
    display: inline-block;
    vertical-align: baseline;
    color: #fff;
    position: relative;
  }
  .md-popup-main-nav > ul {
    float: none;
    text-align: center;
  }
  .md-popup-main-nav > ul > li {
    display: block;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    padding: 0;
    padding-bottom: 22px;
    position: relative;
    text-transform: uppercase;
  }
  .md-popup-main-nav > ul > li:last-child {
    padding-bottom: 0;
  }
  .md-popup-main-nav > ul > li:after {
    content: none;
  }
  .md-popup-main-nav  > ul > li:first-child{
    padding-left: 0;
  }
  .md-popup-main-nav > ul > li > a {
    padding-bottom: 5px;
    position: relative;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .md-popup-main-nav ul.sub-menu {
    padding-top: 6px;
    display: none;
    transition:inherit;
    transform:inherit;
  }
  .md-popup-main-nav  ul li.menu-item-has-children ul li {
    padding: 5px 0;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
  }
  .md-popup-main-nav  ul li.menu-item-has-children ul li {
    padding: 5px 0;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
  }
  .md-popup-main-nav  ul li.menu-item-has-children ul li:first-child{
    padding-top: 0;
  } 
    .md-popup-main-nav  > ul > li.menu-item-has-children > a{
    position: relative;
  }
  .md-popup-main-nav > ul > li.menu-item-has-children > a:before {
    content: '';
    position: absolute;
    top: 10px;
    right: -30px;
    background: url('../images/md-submenu-dwn.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 8px;
    width: 16px;
  }
  .md-popup-main-nav li.menu-item-has-children > a.sub-menu-expend:before{
    background: url('../images/md-submenu-up.png');
    background-repeat: no-repeat;
  }
  .md-popup-main-nav  li.menu-item-has-children ul.sub-menu a {
    font-size: 16px;
    line-height: 20px;
    transition: none;
    text-decoration: none;
    letter-spacing: .5px
  }
  .md-popup-main-menu-btm {
    position: relative;
    margin: 20px 0 10px;
  }
  .md-popup-main-menu-btm ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .md-popup-main-menu-btm ul li {
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    padding-bottom: 20px;
    text-align: center;
  }
  .md-popup-main-menu-btm ul li:after{
    content: none;
  }
  .md-popup-main-menu-btm ul li a {
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #7B7B7B;
  }
  .md-popup-main-social-addr{
    position: relative;
    border-top: 1px solid #3C3C3C;
    padding-top: 18px;

  }
  .md-popup-main-addr{
    width: 65%;
    float: left;
  }

  .md-popup-main-social{
    width: 35%;
    float: left;
    padding-top: 15px;
  }
  .md-popup-main-addr li{
    padding-bottom: 5px;
  }
  .md-popup-main-addr li:nth-child(1) i{
    position: relative;
    top: -2px;
  }
  .md-popup-main-addr li:nth-child(2) i{
    position: relative;
    top: -2px;
  }
  .md-popup-main-addr a{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #C4C4C4;
  }
  .md-popup-main-addr i {
    display: inline-block;
    vertical-align: middle;
    padding-right: 3px;
  }
  .md-popup-main-social a{
    display: inline-block;
    vertical-align: baseline;
    margin-left: 8px;
  }














  body.bdyslroff{
    overflow: hidden;
  }

}

@media(max-width: 767px){

  .page-banner-sec-con {
    height: 630px;
  }
  .page-banner-des {
    padding: 32px 0 5px;
  }
  .page-banner-des h1 {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 12px;
  }
  .page-banner-des strong {
    font-size: 40px;
  }
  .page-banner-des p {
    font-size: 16px;
    line-height: 24px;
  }  
  .sm-page-banner-des {
    padding: 20px 0 40px;
    color: #fff;
    position: relative;
    z-index: 5;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  .sm-page-banner-des strong{
    display: block;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 12px;
  }
  .sm-page-banner-des a{
    display: inline-block;
    vertical-align: baseline;
    font-weight: 700;
    background: #FF8A00;
    color: #fff;
    padding: 15px 22px;
  }
  .sm-page-banner-des a span{
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    padding-right: 57px;
  }
  .sm-page-banner-des a span::after{
    content: "";
    position: absolute;
    top: 4px;
    right: 0;
    background-image: url('../images/banner-sm-des-link-icon.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 24px;
    height: 18px;  
  }
  .psearch-form-fields .submit button i {
    top: -6px;
  }
  .psearch-form-fields .bootstrap-select>.dropdown-toggle {
    font-size: 16px;
    line-height: 22px;
  }
  .psearch-form-fields > ul > li {
    padding: 0;
  }
  .psearch-form-fields .bootstrap-select>.dropdown-toggle {
    font-size: 16px;
    line-height: 22px;
  }
  .psearch-form-fields .bootstrap-select > .dropdown-toggle {
    padding: 25px 17px 22px;
  }
  .psearch-form-fields > ul > li:nth-child(1),
  .psearch-form-fields > ul > li:nth-child(2),
  .psearch-form-fields > ul > li:nth-child(3),
  .psearch-form-fields > ul > li:nth-child(4){
    width:50%;
  }
  .psearch-form-fields > ul > li:nth-child(5){
    width:100%;
    padding:0;
  }
  .bradecumb > a {
      left: 0px;
  }
  .bradecumb ul li {
      font-size: 16px;
      line-height: 18px;
      padding: 0 18px;
  }
  .bradecumb-btn a{
    font-size: 16px;
    line-height: 18px;
  }
}
@media(max-width: 639px){
  .bradecumb-sec-wrp {
      padding: 23px 0 18px;
  }
  .bradecumb ul li{
    display: none;
  }
  .bradecumb ul li:after{
    content: none;
  }
  .bradecumb ul li:first-child{
    display: block;
  }
}

@media(max-width: 575px){
  .page-banner-sec-con {
    margin-bottom: 122px;
  }
  .psearch-form-fields > ul > li:nth-child(1),
  .psearch-form-fields > ul > li:nth-child(2),
  .psearch-form-fields > ul > li:nth-child(3),
  .psearch-form-fields > ul > li:nth-child(4){
    width:100%;
  }
  .psearch-form-fields .bootstrap-select>.dropdown-toggle {
    border-right: 0;
  }
  .psearch-form-fields > ul > li:not(:last-child){
    border-bottom: 1px solid #F1F1F1;
  }


}

@media(max-width: 479px){  
  .page-banner-des h1 {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 12px;
  }
  .page-banner-des strong {
      font-size: 30px;
  }
  .sm-page-banner-des strong {
      font-size: 16px;
      line-height: 22px;
  }
  .sm-page-banner-des a {
      padding: 10px 15px;
      font-size: 13px;
  }
  .sm-page-banner-des a span {
      padding-right: 30px;
  }
  .sm-page-banner-des a span::after {
    top: 5px;
    width: 18px;
    height: 15px;
  }
  .md-menu-close-btn-controller strong {
    font-size: 16px;
  }
}

@media(max-width: 359px){

}


